@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Lato', sans-serif;
}

/* ========== Global card code =========== */
.card-code {
  font-size: 15px;
  font-weight: 600;
  font-family: var(--secondary-font);
  color: #08f08f;
  text-transform: capitalize;
}

/* ============== Service Card Title ============= */
.shadow-heading > h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: var(--primary-font);
  color: #08f08f;
  border-radius: 30px;
  -webkit-box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3), 5px 5px 5px rgba(0, 0, 0, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.2);
          box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3), 5px 5px 5px rgba(0, 0, 0, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.shadow-heading > p {
  font-size: 15px;
  font-weight: 600;
  font-family: var(--secondary-font);
  color: white;
  text-transform: capitalize;
  border-radius: 30px;
  padding: 2px 0;
}

/* <!-- 01. ################# S-01. #####################   --> */
.main-shadow {
  background: #0c7ee9;
}

.main-shadow > h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 5px 0 !important;
  color: white;
  -webkit-box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3), 5px 5px 5px rgba(0, 0, 0, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.2);
          box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3), 5px 5px 5px rgba(0, 0, 0, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.text-shadow {
  height: 320px;
  line-height: 320px;
}

.text-shadow h1 span {
  font-size: 40px !important;
  font-weight: 700;
  color: white;
  padding: 15px;
  height: 155px;
  line-height: 155px;
  border-radius: 30px;
  -webkit-box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3), 5px 5px 5px rgba(0, 0, 0, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.2);
          box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3), 5px 5px 5px rgba(0, 0, 0, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.text-shadow h2 span {
  font-size: 30px !important;
  font-weight: 700;
  color: #1100ff;
  padding: 15px;
  border-radius: 30px;
  -webkit-filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
}

/* ================= image Shadow ================= */
.img-shadow img:nth-child(1) {
  width: 270px;
  height: 200px;
  border-radius: 30px;
  -webkit-box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3), 5px 5px 5px rgba(0, 0, 0, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.2);
          box-shadow: -3px -3px 2px rgba(255, 255, 255, 0.3), 5px 5px 5px rgba(0, 0, 0, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.img-shadow img:nth-child(2) {
  width: 380px;
  height: 300px;
  border-radius: 30px;
  -webkit-filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
}

/* ================= circle text animation ============== */
/*# sourceMappingURL=shadow.css.map */