*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-font:'Roboto', sans-serif;
    --secondary-font:'Lato', sans-serif;
}

/* ========== Gobal card code =========== */
.card-code{
    font-size: 15px;
    font-weight: 600;
    font-family: var(--secondary-font);
    color:rgb(8, 240, 143);
    text-transform: capitalize;
}


/* ============== Service Card Title ============= */
.hero-card-heading > h1{
    font-size: 40px ;
    font-weight: 700;
    font-family: var(--primary-font);
    color: rgb(8, 240, 143);
    border-radius: 30px;
    box-shadow: -3px -3px 2px rgba(255,255,255, 0.3) ,
    5px 5px 5px rgba(0,0,0, 0.2) ,
    15px 15px 15px rgba(0,0,0, 0.2) ;
}
.hero-card-heading > p{
    font-size: 15px;
    font-weight: 600;
    font-family: var(--secondary-font);
    color: white;
    text-transform: capitalize;
   
}



/* ==================== Hero Section ==================== */

/* 01. ################# HS-01. #####################  */
#Scratch{
    height: 50vh;
    width: 47vw;
  position: relative;
   
}
#Scratch h6{
    position: absolute;
    z-index: 1;
    right: 1%;
    left: 46%;
    top: 5%;
  

}

/* 02. ################# HS-02. #####################  */
#draw{
    height: 50vh;
    width: 50vw;
    position: relative;
   
 
   
}

.develop1{
    position: absolute;
    z-index: 1;
}