*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-font:'Roboto', sans-serif;
    --secondary-font:'Lato', sans-serif;
}
/* ============== Code ============== */
.pre-code{
    position: relative;
    top: 60%;
}
/* ========== Global card code =========== */
.card-code{
    font-size: 15px;
    font-weight: 600;
    font-family: var(--secondary-font);
    color:rgb(8, 240, 143);
    text-transform: capitalize;
}

/* ============== Service Card Title ============= */
.preloader-heading > h1{
    font-size: 40px ;
    font-weight: 700;
    font-family: var(--primary-font);
    color: rgb(8, 240, 143);
    border-radius: 30px;
    box-shadow: -3px -3px 2px rgba(255,255,255, 0.3) ,
    5px 5px 5px rgba(0,0,0, 0.2) ,
    15px 15px 15px rgba(0,0,0, 0.2) ;
}
.preloader-heading> p{
    font-size: 15px;
    font-weight: 600;
    font-family: var(--secondary-font);
    color: white;
    text-transform: capitalize;
    position: relative; 
    /* for preloader 2 center */
    border-radius: 30px;
    padding: 2px 0;
   
}


/* <!-- 01. ################# PL-01. #####################   --> */
.preloader{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
   
    min-height: 50vh;
    background-color: #131614;
    animation: animate1 10s linear infinite;
}
@keyframes animate1{
    0%{
        filter: hue-rotate(0deg);
    }

    100%{
        filter: hue-rotate(360deg);
    }
}

.preloader .preloader-circle{
    position: relative;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
}

.preloader .preloader-circle span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
    /* change the angle and look amazing circle best (57-350)
    as like 54-74,60,71,72,80,85,84,86,87,89,90,98,100,103,113,120,166,169,,173,190,216,233,246,337
    
    
    */
}

.preloader-circle span::before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--preloader-color);
    box-shadow: 0 0 10px var(--preloader-color) ,
                 0 0 20px var(--preloader-color) ,
                 0 0 40px var(--preloader-color) ,
                 0 0 60px var(--preloader-color) ,
                 0 0 80px var(--preloader-color) ,
                 0 0 100px var(--preloader-color);
    
    animation: animate2 2s linear infinite;
    animation-delay: calc(0.1s * var(--i)); /*use 0.1% look different*/
               

}

@keyframes animate2{
    0%{
        transform: scale(1);
    }

    80%,100%{
        transform: scale(0);
    }
}




/* <!-- 02. ################# PL-02. #####################   --> */

.preloader2{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
   
    min-height: 50vh;
    background-color: #343a34;
    animation: animate3 3s linear infinite;
}
@keyframes animate3{
    0%{
        filter: hue-rotate(0deg);
    }

    100%{
        filter: hue-rotate(360deg);
    }
}

.preloader2 .preloader-circle2{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}

.preloader2 .preloader-circle2 .change-span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
    /* change the angle and look amazing circle best (57-350)
    as like 54-74,60,71,72,80,85,84,86,87,89,90,98,100,103,113,120,166,169,,173,190,216,233,246,337
    
    
    */
}

.preloader-circle2 .change-span::before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 30%;
    background: var(--preloader-color);
    box-shadow: 0 0 10px var(--preloader-color) ,
                 0 0 20px var(--preloader-color) ,
                 0 0 40px var(--preloader-color) ,
                 0 0 60px var(--preloader-color) ,
                 0 0 80px var(--preloader-color) ,
                 0 0 100px var(--preloader-color);
    
    animation: animate24 2s linear infinite;
    animation-delay: calc(0.1s * var(--i)); /*use 0.1% look different*/
               

}

@keyframes animate2{
    0%{
        transform: scale(1);
    }

    80%,100%{
        transform: scale(0);
    }
}

/* <!-- 03. ################# PL-03. #####################   --> */

.preloader3{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
   
    min-height: 50vh;
    /* background-color: #291aac; */
    animation: animate2 3s linear infinite;
}
@keyframes animate2{
    0%{
        filter: hue-rotate(0deg);
    }

    100%{
        filter: hue-rotate(360deg);
    }
}

.preloader3 .preloader-circle3{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
}

.preloader3 .preloader-circle3 .change-span3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
    /* change the angle and look amazing circle best (57-350)
    as like 54-74,60,71,72,80,85,84,86,87,89,90,98,100,103,113,120,166,169,,173,190,216,233,246,337
    
    
    */
}

.preloader-circle3 .change-span3::before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--preloader-color);
    box-shadow: 0 0 10px var(--preloader-color) ,
                 0 0 20px var(--preloader-color) ,
                 0 0 40px var(--preloader-color) ,
                 0 0 60px var(--preloader-color) ,
                 0 0 80px var(--preloader-color) ,
                 0 0 100px var(--preloader-color);
    
    animation: animate2 2s linear infinite;
    animation-delay: calc(0.1s * var(--i)); /*use 0.1% look different*/
               

}

@keyframes animate2{
    0%{
        transform: scale(1);
    }

    80%,100%{
        transform: scale(0);
    }
}




/* <!-- 04. ################# PL-04. #####################   --> */


.preloader4{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
   
    min-height: 50vh;
    background-color: #2b5a2b;
    animation: animate8 10s linear infinite;
}
@keyframes animate8{
    0%{
        filter: hue-rotate(0deg);
    }

    100%{
        filter: hue-rotate(360deg);
    }
}

.preloader4 .preloader-circle4{
    position: relative;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
}

.preloader4 .preloader-circle4 .change-span4{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(44deg * var(--i)));
    /* change the angle and look amazing circle best (57-350)
    as like 54-74,60,71,72,80,85,84,86,87,89,90,98,100,103,113,120,166,169,,173,190,216,233,246,337
    
    
    */
}

.preloader-circle4 .change-span4::before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--preloader-color);
    box-shadow: 0 0 10px var(--preloader-color) ,
                 0 0 20px var(--preloader-color) ,
                 0 0 40px var(--preloader-color) ,
                 0 0 60px var(--preloader-color) ,
                 0 0 80px var(--preloader-color) ,
                 0 0 100px var(--preloader-color);
    
    animation: animate9 2s linear infinite;
    animation-delay: calc(0.1s * var(--i)); /*use 0.1% look different*/
               

}

@keyframes animate9{
    0%{
        transform: scale(1);
    }

    80%,100%{
        transform: scale(0);
    }
}