*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
    --primary-font:'Roboto', sans-serif;
    --secondary-font:'Lato', sans-serif;
    --oswald-font:'Oswald', sans-serif;
    --primary-color:#0275d8;
    --success-color:#5cb85c;
    --info-color:#5bc0de;
    --warning-color:#f0ad4e;
    --danger-color: #d534f;
    --dark-color:#292b2c;
    --white-color:##f7f7f7;
}



/*    ============  navbar ======= */
.main_nav_item_area{
    justify-content: center;
}
.main_nav_ul .nav-item a{
    font-family: var(--oswald-font);
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-color) !important;

}
.main_nav_ul .active a{
    color: var( --success-color) !important;
    position: relative;
}
.main_nav_ul .active a::before{
    content: '';
    position: absolute;
    background: #5bc0de;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

}
/*    ---------- sticky navbar ------- */
.sticky_main{
    position: sticky;
    top: 0px;
    z-index: 10000;
    background-color: #3A444D;
    transition: 0.7s ease-in-out;
    border-bottom: 2px solid #60E99C;
}

/* ========== Gobal card code =========== */
.card-code{
    font-size: 15px;
    font-weight: 600;
    font-family: var(--secondary-font);
    color:rgb(8, 240, 143);
    text-transform: capitalize;
}
/* ============== Card Title ============= */
.card-heading > h1{
    font-size: 40px ;
    font-weight: 700;
    font-family: var(--primary-font);
    color: rgb(8, 240, 143);
    border-radius: 30px;
    box-shadow: -3px -3px 2px rgba(255,255,255, 0.3) ,
    5px 5px 5px rgba(0,0,0, 0.2) ,
    15px 15px 15px rgba(0,0,0, 0.2) ;
}
.card-heading > p{
    font-size: 16px;
    font-weight: 600;
    font-family: var(--secondary-font);
    color: white;
    text-transform: capitalize;
    border-radius: 30px;
    padding: 2px 0;

}
 /* ======== Row bg-color ============ */








 /* 01. ################# SMI-01. #####################  */
.social-main1{
    position: relative;
    height: 100px;
    background-color: #00acee;


 }
 .social-icon1{
     display: flex;
     justify-content: space-around;
   align-items: center;
  text-align: center;
     width: 90%;
     height: 60px;
     line-height: 60px;
    box-shadow: 2px 3px 15px  #d35400;
     background-color: var(--dark-color) ;
     position: absolute;
     top: 10px;
     left: 50%;
     transform: translateX(-50%);
 }
 .social-icon1 a{
    background-color: #272422;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #d35400;
    /* display: flex; */
    align-items: center;
    transform: scale(0.9);
    transition: 0.2s ease-in-out;
 }
 .social-icon1 a:hover{
     text-decoration: none;
     box-shadow: 0 0 15px #d35400;
    color: #be2ce2;
 }

 /* 02. ################# SMI-02. #####################  */
 .social-main2{
     display: flex;
     height: 70px;
     /* background:rgb(0, 255, 13); */
     justify-content: center;
     align-items: center;

 }
 .social-icon2 ul{
     display: flex;


 }

 .social-icon2 ul li{
     position: relative;
     display: block;
     color: #666;
     font-size: 30px;
     height: 45px;
     width: 45px;
     line-height: 45px;
     background: #171515;
     text-align: center;
     border-radius: 50%;
     /* margin: 0 15px; */
     cursor: pointer;


 }

 .social-icon2 ul li::before{
     content: " ";
     position: absolute;
     top: 0;
     left: 0;
     background-color: red;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     border: 2px solid #0275d8;
     z-index: -1;
     transform: scale(0.9);
     transition: 0.5s;
 }

 .social-icon2 ul li:hover::before{
    transform: scale(1.2);
    /* z-index: 2; */

 }

 /* 03. ################# SMI-03. #####################  */
 .social-main3{
     width: 100%;
     height: 50px;
     background-color: rgb(66, 62, 62);
     border-radius: 5px;




 }
 .social-icon3 ul{
    display: flex;
    height: 50px;
    width: 100%;
    line-height: 50px;
    justify-content: center;
    align-items: center;


 }
 .social-icon3 ul li {
     background-color:#fff;
     height: 40px;
     width: 40px;
     border-radius: 50%;
     line-height: 40px;
     border-radius: 40px;
     transition: 0.4s ease-in-out;
     cursor: pointer;
 }
 .social-icon3 ul li:hover{
    width: 140px;

 }
 .social-icon3 ul li span{

     height: 40px;
    width: 0px;
     line-height: 40px;
     transition: 0.4s ease-in-out;
     overflow: hidden;
     font-weight: 500;

 }
 .social-icon3 ul li:hover span{
     width: 90px;
     transition: all 0.4s ease-in-out;
     transform: translateX(-2px);

 }
 .social-icon3 ul li i{
     color: black;
     font-size: 18px;
     background-color: #fff;
     height: 40px;
     width: 40px;
     line-height: 40px;
     text-align: center;
     border-radius: 50%;
     transform: translateX(0px);
     transition: all 0.4s ease-in-out;
     box-shadow: 2px 1px 0 raba(0,0,0,0.1);


 }

 .social-icon3 ul li:hover i{
    transform: translateX(-10px);
    transition: 0.4s ease-in-out;
    background-color: #fd0557;
    color: white;
    margin-left: 6px;



 }


  /* 04. ################# SMI-04. #####################  */
  .social-icon4  {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      background-color: blue;
  }
  .social-icon4 a{
      width: 40px;
      height: 40px;
      background: #f1f1f1;
      border-radius: 30%;
      box-shadow: 0 5px 15px -5px #00000070;
      color:#3498db;
      position: relative;
  }
  .social-icon4 a::before{
      content:" ";
      position: relative;
      width: 120%;
      height: 120%;
      background: #3498db;
      transform: rotate(45deg);
      left: -90%;
    top: 90%;

  }
  .social-icon4 a:hover::before{
    animation: smi4 0.7s 5;
    top: 0%;
    left: 0%;

  }
  @keyframes smi4{
      0%{
        left: -100%;
        top: 90%;
      }

      50%{
        left: 10%;
        top: -30%;
      }

      100%{
        top: -10%;
        left: -10%;
      }
  }
  .social-icon4 a i{
      line-height: 40px;
      font-size: 21px;
      transition: 0.2s linear;
  }
  .social-icon4 a:hover i{
    transform: scale(1.2);
  }
